@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import 'normalize';

/* Theme Colours */
/* ========================================================================== */

//$tmdb_maxwidth: 1050px;
$tmdb_maxwidth: 700px;

$tmdb_phonebreak: 652px;
$tmdb_tabletbreak: 768px;
$tmdb_laptopbreak: 992px;
$tmdb_desktopbreak: $tmdb_maxwidth;

$tmdb_colourdarkblue: #081B23;
$tmdb_colourgreen: #01D277;
$tmdb_colourpurple: #4902A3;
$tmdb_colourred: #D1225B;
$tmdb_colourheadings: #E3F4FC;
$tmdb_colourbody: #9FBBC7;
$tmdb_colourmovieitem: #E5F7FF;
$tmdb_colourmovieitemsmall: #A1D1E5;
$tmdb_colourtext2: #E5F7FF;

$tmdb_fontbody: 'Roboto', sans-serif;
$tmdb_fontheadings: 'Montserrat', sans-serif;

/* Mixins */
/* ========================================================================== */

@mixin font-size($sizeValue: 1.6){
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin radial-gradient($from, $to){
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: $from;
}

@mixin placeholder{
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

/* Media Queries */
/* ========================================================================== */

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: $tmdb_phonebreak){}
// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: $tmdb_phonebreak){}
// Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: $tmdb_tabletbreak){}
// Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: $tmdb_laptopbreak){}
// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: $tmdb_desktopbreak){}

/* apply a natural box layout model to all elements, but allowing components to change */
html{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	background: $tmdb_colourdarkblue url("../images/Rectangle.png") 50% 0 no-repeat;
}

/* Theme Layout */
/* ========================================================================== */

.tmdb_wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	header,
	footer,
	>div,{
		width: 100%;
		
		>div{
			width: $tmdb_maxwidth;
			max-width: 100%;
			margin: 0 auto;
		}
		
	}
	
	.tmdb_header{}
	
	.tmdb_container{}
	
	.tmdb_footer{}
		
}

/* Typography */
/* ========================================================================== */

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body{
	font-family: $tmdb_fontbody;
	color: $tmdb_colourbody;
}

h1,h2,h3,h4{
	font-family: $tmdb_fontheadings;
	color: $tmdb_colourheadings;
	font-weight: 600;
}

h1{
	@include font-size(2.8);	
}

h2{
	@include font-size(2);
}

p{
	@include font-size(1.6);
	font-weight: 300;
	line-height: 1.5em;
}

hr{
	border: none;
	border-top: solid 1px #0F303D;
}

h2,
p,
hr{
	margin: 1em 0;
}

/* Header */
/* ========================================================================== */

.tmdb_header{
	width: 100%;
	position: relative;
	
	.logo{
		margin: 60px auto;
		opacity: 0;
		display: block;
		
		
/*
		.the{
			
			path{
				fill: orange;
			}
			
		}
		
		.movie{
			
			path,
			rect{
				fill: orange;
			}
			
		}
		
		.db{
			
			path,
			rect{
				fill: orange;
			}
			
		}
		
		.outer{
			fill: pink;
		}
*/
			
	}
	
	$lines_width: 405px;
	.lines{
		position: absolute;
		top: -100px;
		left: 50%;
		margin-left: -$lines_width/2;
		opacity: 0;
	}
	
	.my-ajax-filter-search{
		width: 342px;
		max-width: 90%;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		
		$search_textinputheight: 44px;
		input[type=text]{
			width: 100%;
			height: 44px;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 14px;
			border: none;
			border-radius: 22px;
			
			@include placeholder{
		        color: $tmdb_colourgreen;
		        font-family: $tmdb_fontbody;
		        font-size: 14px;
		    }
		   
			&:focus{
				outline: none;
			}
			
		}
		
		$search_submitwidthheight: $search_textinputheight;
		input[type=submit]{
			width: $search_submitwidthheight;
			height: $search_submitwidthheight;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			border: none;
			border-radius: 22px;	
			background: transparent url("../images/search.png") 50% 50% no-repeat;
			background-size: 16px;
			
			&:focus{
				outline: none;
			}
			
		}
		
	}
	
}

/* Ajax Search */
/* ========================================================================== */

.ajax_filter_search_results{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: scale(0);
	opacity: 0;
	
	h2{
		text-align: center;
		margin: 0 0;
	}
	
	p{
		margin: 10px 0;
	}
	
	.close{
		width: 25px;
		height: 25px;
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 100;
		cursor: pointer;
	}
	
	.results{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.tmdb_post{
		@extend .movie_item;
		margin: 5px 10px!important;
	}
	
	.bg{
		width: 100%;
		height: 100vh;
		background: rgba(8, 27, 35, .9);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	
}


/* Container */
/* ========================================================================== */

.tmdb_container{}

/* Popular Movies Page */
/* ========================================================================== */

.popular_movies{
	width: 375px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	cursor: pointer;
	position: relative;
	
	@media only screen and (min-width: $tmdb_phonebreak){
		width: $tmdb_phonebreak/1.2;
	}
	
	@media only screen and (min-width: $tmdb_tabletbreak){
		width: $tmdb_tabletbreak/1.1;
	}
	
	
	>div{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
		@media only screen and (min-width: $tmdb_phonebreak){
			justify-content: space-around;	
		}


		@media only screen and (min-width: $tmdb_tabletbreak){
			justify-content: space-between;	
		}
	
		.tmdb_post{
			@extend .movie_item;
		}
	
	}
	
}

/* Review Page */
/* ========================================================================== */

.review{
	overflow: hidden;
	position: relative;
	
	.back{
		position: absolute;
		top: 40px;
		left: 20px;
		z-index: 100;
		cursor: pointer;
	}
	
	.tmdb_post{
		position: relative;	
				
		.review_header{
			position: relative;

			.image_poster{
				width: 100%;
				height: auto;
				position: relative;
				top:0;
				left: 0;
				animation: animation_poster .5s ease-out;
			}
			
			>div{
				padding: 0 15px 10px 15px;
				position: relative;
				top: -90px;
				margin-bottom: -90px;
				z-index: 1;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
					
				>div{
					padding: 88px 0 0 10px;
					
					p{
						@include font-size(1.2);
						line-height: 1.5em;
					}
					
				}
				
			}
			
		}
		
		.review_content{
			padding: 0 15px;
			
			p{
				color: $tmdb_colourbody;
			}
			
		}
		
	}
	
}

/* Footer */
/* ========================================================================== */

.tmdb_footer{

}

/* Helper Classes */
/* ========================================================================== */

.movie_item{
	width: 155px;
	margin: 5px 5px;
	position: relative;	
	cursor: pointer;
	color: $tmdb_colourmovieitem;
	
	&:hover{
		
		img{
			opacity: .5;
		}
		
	}
	
	.score{
		width: 40px;
		padding: 4px 0 3px 0;
		display: block;
		position: absolute;	
		top: 4px;
		left: 4px;
		z-index: 1;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		border-radius: 8px;
		background: $tmdb_colourgreen;
		
		&.score_red{
			background: $tmdb_colourred;	
		}
		
		&.score_purple{
			background: $tmdb_colourpurple;	
		}
		
	}
	
	img{
		position: relative;
		top: -5px;
		left: -9px;
	}
	
	p{
		@include font-size(1.4);
		margin: 0 0;
		text-align: left;
		color: inherit;
		
		small{
			@include font-size(1.2);
			color: $tmdb_colourmovieitemsmall;
			display: block;
		}
		
	}
}

/* Animations */
/* ========================================================================== */

@keyframes animation_leftin{
    0% {
        display: none;
        opacity: 0;
    }

    1% {
	    right: 1000px;
        display: block;
        opacity: 0;
    }

    100% {
	    right: 0;
        display: block;
        opacity: 1;
    }
}

@keyframes animation_rightin{
    0% {
        display: none;
        opacity: 0;
    }

    1% {
	    left: 1000px;
        display: block;
        opacity: 0;
    }

    100% {
	    left: 0;
        display: block;
        opacity: 1;
    }
}

@keyframes animation_poster{
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}